{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}

{% block content %}
    <section id="page-messages">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <div id="message-one">
                        <h3>Principal Message</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                    </div>
                    <div id="message-two">
                        <h3>Our College </h3>
                        <p>Ramanujan College is one of the constituent college of University of Delhi. It was previously known as Deshbandhu Evening College and functioned in the evening hours at the same building of Deshbandhu College. It has approximately 1700 students studying various bachelor's courses in the disciplines of arts, commerce and science.

                            In July 2010, Deshbandhu College (Evening) was reconstituted into Ramanujan College (Morning),[1] focusing on mathematics, information technology and business studies, and psychology.[2]
                            Mathematician Srinivasa Ramanujan (1887-1920), after whom the college is named, and the subject of the 2015 Indian film The Man Who Knew Infinity
                            
                            The college is named after Srinivasa Ramanujan (1887-1920), an Indian mathematician and autodidact.</p>
                    </div>
                    <div id="message-three">
                        <h3>About Bvoc </h3>
                        <p>Bachelors of Vocation is actually done in many subjects like Software Development, Automotive
                             Manufacturing, applied art, Interior Design etc.</p>
                        <p>You have to decide the subject of your interest and then join B.Voc course accordingly.</p>
                        <p>B.Voc. is a three year degree program. B. Voc. course offers multiple exit points. Students
                            can leave at the end of first year with a Diploma, at the end of second year with an 
                            Advanced Diploma, and at the end of three years with a Degree. Students after standard
                            12th are eligible to apply for this course. UGC has given approval for this course to 
                            several institutes across the country, with specializations like Retail Management, 
                            Fashion Technology and Apparel Designing, Web Technologies and Multimedia, Digital Art
                            and Animation, Printing and Publishing, Tourism and Travel Management, Food Processing 
                            and Quality Management, Food Science & Quality Control, Software Development and Systems
                            Administration, Applied Computer Technology, Data and Web Analytics, Paramedical and 
                            Health Care, Medical Lab Technology, Networking & System Administration, Soil and Water
                            Conservation, Building Technology, Renewable Energy Management, Green House Technology,
                            Theatre Study and Acting, etc.</p>
                        <p>B.Voc. course is introduced with an aim to incorporate requirements of various industries
                            into its curriculum. The course helps ensure students have adequate skills, make them work
                            ready, enhance employability of graduates, and thus make them part of global workforce. 
                            The curriculum offers a unique blend of vocational and business management concepts. Field
                            visits, internships, guest lectures from industry experts, experimental learning are some 
                            of the highlights of this curriculum.</p>
                        
                    </div>
                </div>
                <div class="col-2">
                    <ul class="event-item-two">
                        <li><a href="/">Home</a></li>
                        <li> <a href="#message-one">Principal Message </a></li>
                        <li><a href="#message-two">Our College </a></li>
                        <li> <a href="#message-three">About Bvoc </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock  %}
