{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}

{% block content %}
    <section id="page-messages">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <div id="message-one">
                        <h3>Principal Message</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor modi, illum quasi in quod,
                            expedita, laboriosam explicabo quae officia consequatur ratione adipisci aperiam impedit
                            reprehenderit recusandae porro beatae reiciendis. Minus ad quae, omnis quisquam magni
                            voluptates amet iure unde officiis. </p>
                    </div>
                    <div id="message-two">
                        <h3>Our College </h3>
                        <p>Ramanujan College is one of the constituent college of University of Delhi. It was previously known as Deshbandhu Evening College and functioned in the evening hours at the same building of Deshbandhu College. It has approximately 1700 students studying various bachelor's courses in the disciplines of arts, commerce and science.

                            In July 2010, Deshbandhu College (Evening) was reconstituted into Ramanujan College (Morning), focusing on mathematics, information technology and business studies, and psychology.
                            Mathematician Srinivasa Ramanujan (1887-1920), after whom the college is named, and the subject of the 2015 Indian film The Man Who Knew Infinity
                            
                            The college is named after Srinivasa Ramanujan (1887-1920), an Indian mathematician and autodidact.</p>
                    </div>
                    <div id="message-three">
                        <h3>About B.Voc </h3>
                        <h4>Bachelor of Vocational Studies [B.Voc](Software Development)</h4>
                        <p>The University Grants Commission (UGC) had launched a scheme on 27 February, 2014 for skills development based higher education as part of college/university education, leading to Bachelor of Vocation (B.Voc.) degree with multiple entry and exit points. Considering the
                            Implementation modalities, the guidelines of the scheme have been revised in the year 2015.</p>
                        <p>“<b>Ramanujan College</b>, University of Delhi through its Department of Vocation (B.Voc) launched B.Voc. programmes in B.Voc. (Software Development) from 2016.”</p>
                        <p>B.Voc. in Software Development is a three-year Undergraduate (UG) program that aims at imparting practical and industry relevant skill in the domain of computer science and software development.</p>
                        <p>The course is a skill-oriented and practical based program that aims at imparting practical skills to the students along with theoretical clarity in the subject. The focus is more on imparting and emphasizing hands-on practical expertise rather than going for more inclination towards theoretical aspects.</p>
                        <p>The course is aimed at providing domain-specific skills and knowledge to the students through the practical approach and academic discussions. The course is structured in a manner so as to access and develop academic base through semester-wise theoretical examination by Delhi University and developing the practical skills through lab modules, experiments and getting certifications from NASSCOM , an industry association committed towards supporting the IT BPM industry in becoming an indispensible powerhouse.</p>       
                        <p><strong>B.voc =  general component (GEC) by Delhi University +  technical component (SEC) by NASSCOM.</strong></p>
                        <p>Undergraduates (B.Voc.) in Software Development have plenty of options to choose from in terms of their career. One can choose to work as an Application developer, Graphic designer, Website developer, Software tester, Coder, Algorithm designer, UI designer and also provides a job role of Software developer and Junior Data Associate which  gives specialized knowledge of Software programming languages and helps in understanding different research process.</p>
                        <p>“Vocational  education programs  have made a real difference in the lives of countless young people nationwide; they build self confidence and leadership skills by allowing students to utilize their unique gifts and talents.”</p>
                    </div>
                </div>
                <div class="col-2">
                    <ul class="event-item-two">
                        <li><a href="/">Home</a></li>
                        <li> <a href="#message-one">Principal Message </a></li>
                        <li><a href="#message-two">Our College </a></li>
                        <li> <a href="#message-three">About Bvoc </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock  %}
