{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} | About Us{% endblock %}

{% block content %}

<div class="page-headers">
        <div class="row">
            <div class="col-header about-bg">
                <h3>About Us</h3>
                <p>The Celect Cell  is bridging the gap between Aspirants and Opportunities. It educate, empower and enhance the employability. </p>
                <p>"The cell gives a silver lining to students career."</p>
            </div>
        </div>
    </div>
    <section id="page-about">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>Principal Message </h3>
                    <p>Dear Parents and Students,</p>
                    <p>The Ramanujan College fraternity and I extend you a warm and hearty welcome to our college. The Ramanujan College is one of the constituent colleges of University of Delhi. Our College is placed at ‘A’ Grade by the National Assessment & Accreditation Council. (NAAC) and holds 26th rank in National institutional Ranking Framework (NIRF) Of Govt. Of India.</p>
                    <a class="button" href="/messages#message-one">Read More </a>
                </div>
                <div class="col-2"> <img src="{% static 'images/princ.jpeg' %}" /></div>
            </div>
            <div class="row-2">
                <div class="col-1">
                    <div class="video-player">
                        <div class="flex-video"><video controls="controls">
                                <source src="{% static 'videos/test.mp4' %}" type="video/mp4" /></video></div>
                    </div>
                </div>
                <div class="col-2">
                    <h3>Our College </h3>
                    <p>
                        Ramanujan College is one of the constituent college of University of Delhi. It was previously known as Deshbandhu Evening College and functioned in the evening hours at the same building of Deshbandhu College.
                    </p>
                    <a class="button" href="/messages#message-two">Read More </a>
                </div>
            </div>
            <div class="row-3">
                <div class="col-1">
                    <h3>B.VOC. </h3>
                    <p>The University Grants Commission (UGC) had launched a scheme on 27 February, 2014 for skills development based higher education as part of college/university education, leading to Bachelor of Vocation (B.Voc.) degree with multiple entry and exit points. Considering the Implementation modalities, the guidelines of the scheme have been revised in the year 2015.</p><a class="button" href="/messages#message-three">Read More </a>
                </div>
                <div class="col-2">
                    <div class="video-player">
                        <div class="flex-video"><video controls="controls">
                                <source src="{% static 'videos/test.mp4' %}" type="video/mp4" /></video></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
