{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} | About Us{% endblock %}

{% block content %}

<div class="page-headers">
        <div class="row">
            <div class="col-header about-bg">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ex sed deserunt quibusdam odit
                    obcaecati eum labore minus ullam accusamus.</p>
            </div>
        </div>
    </div>
    <section id="page-about">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>Principal Message </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium ad eaque qui at voluptatem
                        eum, veritatis eligendi! Exercitationem, soluta. Necessitatibus ex minima enim, accusamus dolor
                        quis ducimus sunt reiciendis assumenda!</p><a class="button" href="/messages#message-one">Read More </a>
                </div>
                <div class="col-2"> <img src="{% static 'images/princ.jpg' %}" /></div>
            </div>
            <div class="row-2">
                <div class="col-1">
                    <div class="video-player">
                        <div class="flex-video"><video controls="controls">
                                <source src="{% static 'videos/test.mp4' %}" type="video/mp4" /></video></div>
                    </div>
                </div>
                <div class="col-2">
                    <h3>Our College </h3>
                    <p>Ramanujan College is one of the constituent college of University of Delhi. 
                        It was previously known as Deshbandhu Evening College and functioned in the 
                        evening hours at the same building of Deshbandhu College. It has approximately 
                        1700 students studying various bachelor's courses in the disciplines of arts, 
                        commerce and science.......

                    </p><a class="button" href="/messages#message-two">Read More </a>
                </div>
            </div>
            <div class="row-3">
                <div class="col-1">
                    <h3>BVOC </h3>
                    <p>B.Voc. course is introduced with an aim to incorporate requirements of various 
                        industries into its curriculum. The course helps ensure students have adequate 
                        skills, make them work ready, enhance employability of graduates, and thus make 
                        them part of global workforce. </p><a class="button" href="/messages#message-three">Read More </a>
                </div>
                <div class="col-2">
                    <div class="video-player">
                        <div class="flex-video"><video controls="controls">
                                <source src="{% static 'videos/test.mp4' %}" type="video/mp4" /></video></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
