{% extends 'base.html' %}

{% block title %} | Achievements {% endblock %}

{% load staticfiles %}

{% block content %}

    <div class="page-headers">
        <div class="row">
            <div class="col-header project-bg">
                <h3>Student Achievements </h3>
                <p>“Achievements , Aren’t born on the field. You can create them during practice.”</p>
                <p>“Champions keep playing until they get it right.”</p>
            </div>
        </div>
    </div>

    <section id="student-achievement">
            <div class="wrapper">
                <div class="row">
                    {% if achievements %}
                        {% for achievement in achievements  %}
                            <div class="home-latest__student"><img src="{{ achievement.photo_main.url }}" />
                                <p>{{ achievement.short_description }}</p>
                                <a class="button" href="{% url 'single_achievement' achievement.id %}">Learn More</a>
                            </div>
                        {% endfor %}
                    {% else%}  
                        <div class="sorry-message">
                            <img src="{% static 'images/sorry.svg' %}" style="width : 40%; margin: 0px auto;"/>
                            <h3>Sorry Nothing Find Here!</h3>
                            <p style="font-size: 22px;">Try Next Time</p>
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>

{% endblock  %}
