{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} | About Us{% endblock %}

{% block content %}

 <section id="page-nasscom">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>Nasscom Curriculum</h3>
                    <p>SSC NASSCOM is the authorised assessment body for IT-ITeS vocational areas for NSQF Level 5 & IT-ITeS Qualification Packs (QPs). There are several entry level roles in the software industry which helps the individuals in performing the key activities by clearing such levels as NSQF Level 4 which is Junior software developer , NSQF Level 5 which  provides a job role of Web developer, NSQF Level 7 which provides a job role of Software developer and Junior Data Associate which  gives specialized knowledge of Software programming languages and helps in understanding different research process.</p>
                    <a class="button" href="#">Nasscom Curriculum</a>
                    <div class="curricula-note">
                        <h3>Note: </h3>
                        <p>consectetur adipisicing elit. Dignissimos, molestias quo nulla, perferendis quidem vel est
                            laborum sapiente sint nihil iste deleniti odio? Nostrum dolorum deserunt corrupti mollitia,
                            dolorem optio?</p>
                    </div>
                </div>
                <div class="col-2"><img src="{% static 'images/nasscom.jpg' %}" /></div>
            </div>
        </div>
    </section>
    <section id="page-university">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>University Curriculum</h3>
                    <p>The University Of Delhi conducts  semester wise exam (GEC) containing subjects like Soft skills , Life Skills which can help individuals to deal effectively with the demands and challenges of  everyday life.   It also helps in nurturing the abilities individual have. It also have Computer fundamentals, GIS(Geographical Information System), Programming Robotics and manymore subjects which can helps an individual  in getting better understanding of working on right –of – way management and emerging technology.</a>
                    <div class="curricula-note">
                        <h3>Note: </h3>
                        <p>consectetur adipisicing elit. Dignissimos, molestias quo nulla, perferendis quidem vel est
                            laborum sapiente sint nihil iste deleniti odio? Nostrum dolorum deserunt corrupti mollitia,
                            dolorem optio?</p>
                    </div>
                </div>
                <div class="col-2"> <img src="{% static 'images/header-back.jpg' %}" /></div>
            </div>
        </div>
    </section>
{% endblock  %}
