{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} | About Us{% endblock %}

{% block content %}

 <section id="page-nasscom">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>Nasscom Curriculum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, sed! Veniam accusantium officiis
                        debitis reprehenderit voluptate! Autem labore quod ipsam voluptatem! Ipsa odio quam in nesciunt
                        ullam explicabo officiis ducimus.</p><a class="button" href="#">Nasscom Curriculum</a>
                    <div class="curricula-note">
                        <h3>Note: </h3>
                        <p>Nasscom vision is” The vision of NASSCOM includes helping the IT and IT enabled products and services industry in India to be a trustworthy, respected, innovative and society-friendly industry in the world. We plan to be an effective and engaging global trade organisation, complimented by the pillars of trust and credibility”</p>
                    </div>
                </div>
                <div class="col-2"><img src="{% static 'images/nasscom.jpg' %}" /></div>
            </div>
        </div>
    </section>
    <section id="page-university">
        <div class="wrapper">
            <div class="row">
                <div class="col-1">
                    <h3>University Curriculum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorem exercitationem earum
                        autem excepturi facilis perspiciatis sapiente mollitia laborum, quae nisi. Consectetur expedita
                        ullam architecto ducimus accusamus quasi! Dolorum, explicabo?</p><a class="button" href="#">University
                        Curriculum</a>
                    <div class="curricula-note">
                        <h3>Note: </h3>
                        <p>“The objective is to provide a judicious mix of skills relating to a profession and the appropriate content for general education.  The knowledge and skills are valued at every level and you will be qualified for a suitable job, as per market requirements. You can even explore becoming an entrepreneur in your domain!”</p>
                    </div>
                </div>
                <div class="col-2"> <img src="{% static 'images/header-back.jpg' %}" /></div>
            </div>
        </div>
    </section>
{% endblock  %}
