{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} | Projects {% endblock %}

{% block content %}
    <style>
        #home-projects{
            margin: 100px 0 !important
        }
    </style>

    <div class="page-headers">
        <div class="row">
            <div class="col-header project-bg">
                <h3>Students Projects </h3>
                <p>Project-based learning has proven to be one of the most effective ways to engage students and provide a practical application for what they’re learning. It provide students some real-world life experiences.</p>
            </div>
        </div>
    </div>

    <section id="home-projects" class="page--modifire">
        <div class="wrapper">
            <div class="row">
                {% if projects %}
                    {% for project in projects  %}
                         <div class="col-1"><img src="{{ project.photo_main.url }}" />
                            <div class="home-project__content">
                                <h3>{{ project.title }}</h3>
                                <p>{{ project.short_description }}</p><a href="{% url 'project' project.id %}">Learn More </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else%}
                    <div class="sorry-message">
                        <img src="{% static 'images/sorry.svg' %}" style="width : 40%; margin: 0px auto;"/>
                        <h3>Sorry Nothing Find Here!</h3>
                        <p style="font-size: 22px;">Try Next Time</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock  %}
